<!-- views/500.ejs -->

<div class="text-center">
    <h1 class="display-4">500</h1>
    <p class="lead">Internal Server Error</p>
    <a href="/crud" class="btn btn-primary">Go to Home</a>
</div>
